.gallery_main{
	display:none;position:absolute; width:100%;  top:0; z-index: 99998;}

	.gallery_inner{

	}

	.gv_galleryWrap{
		width: 100% !important;
		height: 1205px !important;
	}

	.gv_gallery{

		margin: 0 auto;
		margin-top: 200px;
	}



#galleryClose:hover {
background: url(../images/icon_close.png) no-repeat;
}
#galleryClose {
display: block;position: absolute;
right: 50px; top:50px; z-index: 99999;
background: url(../images/icon_close.png) no-repeat;
width: 47px;height: 47px;border: 0;cursor: pointer;text-indent: -999em;
}



#gallery {
width: 85% !important;
padding-left: 30px;
padding-right: 30px;
height: 50px;

text-align: left;
border: solid 1px #193f58;
color: #fff;
background: #16394f url(../images/sr_arrow_white.png) no-repeat 94% center;
display: block;
text-decoration: none;
font: 24px HelveNueThin, Arial;
line-height: 50px !important;
cursor: pointer;
}

#gallery:hover{

background-color: #0c283b;

}

.gv_galleryWrap{
	/*background: transparent !important;*/ background:url(../images/bg_black.png);
}

@media (max-width:1280px) { 
.gv_galleryWrap{height: 1235px!important;}
}