@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

/* ************************* body ******************************** */

p, a, h1, h2, h6{font:24px HelveNueThin, Arial; color:#000;}
a{text-decoration:none;}
/* ************************* header ******************************** */
.inner_pheader{width:100%; height:280px; margin:0 auto; background-size:cover; position:relative;}
.comm_resi_header_top{width:100%; height:149px; background:url(../images/top_header_comm_rese.png) no-repeat; background-size: 100% 90%; position:absolute; top:0px; z-index: 9996;}
.comm_resi_header_top a .inner_plogo{margin:20px 0 0px 141px;}
.comm_resi_header_top .inner_pmenu{background: url(../images/sprites.png) -1190px -448px no-repeat; height: 25px; margin: 0 0 0 77px; position: absolute; top: 47px; width: 42px;}
.comm_resi_header_top .inner_smenu{background: url(../images/sprites.png) -151px -9px no-repeat; height: 130px; position: absolute; top:-1px; width: 364px; right: 0px;}
.comm_resi_header_top .inner_search_icon{background: url(../images/sprites.png) -1190px -479px no-repeat; height: 50px; position: absolute; top: 9px; width: 264px; right: 0px; padding-left: 68px; line-height: 55px;}
/* ************************* main menu ******************************** */
.mainmenu{position:absolute; z-index:999; margin:83px 0 0 0;}
.menu_logo{background:url(../images/sprites.png) -1150px -484px no-repeat; width:90px; height:105px; margin:0 0 0 50px; position:absolute; z-index:9998;}
.mainmenu ul .home{background:url(../images/sprites.png) -1190px -37px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .ovalue{background:url(../images/sprites.png) -1190px -85px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .oteam{background:url(../images/sprites.png) -1190px -135px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .contact{background:url(../images/sprites.png) -1190px -185px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .inner_logo{background:url(../images/sprites.png) -1190px -235px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .commercial{background:url(../images/sprites.png) -1190px -285px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .residential{background:url(../images/sprites.png) -1190px -335px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .business{background:url(../images/sprites.png) -1190px -385px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul li a{font:24px; color:#2f5973;}
.mainmenu ul .commercial a{color:#d66f23;}
.mainmenu ul .residential a{color:#689620;}
.mainmenu .menu_top_bg{background:url(../images/menu_top.png) 0 0 no-repeat; width:382px; height:21px;}
.mainmenu .menu_bg{width:380px; background:#fff; padding:25px 0px; opacity:0.95;}
.mainmenu .bg_border{border-bottom:1px solid #aac5d6; border-top:1px solid #aac5d6; padding:15px 0px;}


/* ************************* search box ******************************** */
.search_width{}
.search_box{position:absolute; z-index:9996; width:100%; background:#fff; padding:144px 0 30px 0;}
.boxex{float:left; width:14.28%;}
.boxex ul .bullet{background:url(../images/sprites.png) -1223px 5px no-repeat; padding:0 0 0px 25px; margin:0 0 17px 0;}
.boxex ul select{border: 1px solid #e3eaee; -moz-appearance: none; -webkit-appearance: none; -o-apperance: none; -ms-apperance:none; padding: 4px 40px 4px 10px;}
.width_90{width:90%; margin:0 auto; padding:0 0 0 10%;}
.width9{width:9%;}
.width22{width:19%;}
.boxex ul li{margin:0px 0 10px 0; font-family:HelveNueThin, Arial; font-size:22px;}
.boxex p{margin:20px 0 0 0;}




/* ************************* dropdown box ******************************** */
.dd_fonts{font-size:15px!important; font-family:HelveNueThin, Arial!important; color:#000;}
.dropdown {
  position: relative;
 /* display: inline-block;*/
  text-align: left;   width:152px;	margin-right:10px; float:left;}
.w100{width:100px;}
.width175{width:75%;}
.dropdown-text {  cursor: pointer;  /*position: absolute;*/  text-indent: 10px;  line-height: 31px; /* font-size:18px;*/  border: 1px solid #e3eaee;  
 /*box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);*/  width: 100%; }

.dropdown-text:after {  position: absolute;  right: 6px;  top: 15px;  content: '';  width: 0px;  height: 0px;  border-style: solid;  border-width: 5px 4px 0 4px;  border-color: #555 transparent transparent transparent;
}

.dropdown-text, .dropdown-content li a {  color: #333;  /*text-shadow: 0 1px #fff;*/	font-size:15px;}

.dropdown-toggle {  font-size: 0;  z-index: 1;  cursor: pointer;  position: absolute;  top: 0;  border: none;  padding: 0;  margin: 0 0 0 1px;  background: transparent;  text-indent: -10px;  height: 34px;  width: 100%;}

.dropdown-toggle:focus {  outline: 0;}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;  padding: 0;  margin: 0;  opacity: 0;  visibility:hidden;  text-indent: 10px;  line-height: 32px;   border: 1px solid #e3eaee;  width: 100%; background-color:#fff;}

.dropdown-content a {  display: block;}

.dropdown-content a:hover {  background: #e3eaee;}
.dropdown-toggle:hover ~ .dropdown-text, .dropdown-toggle:focus ~ .dropdown-text {  background-color: #e3eaee;}
.dropdown-toggle:focus ~ .dropdown-text { /* box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);*/  z-index: 2;}
.dropdown-toggle:focus ~ .dropdown-text:after { border-width: 0 4px 5px 4px;  border-color: transparent transparent #555 transparent;	}
.dropdown-content:hover, .dropdown-toggle:focus ~ .dropdown-content {  opacity: 1;  visibility:visible;  top: 42px;}