@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

/* ************************* body ******************************** */

p, a, h1, h2, h3, h4, h6{font:24px HelveNueThin, Arial; color:#000;}
a{text-decoration:none;}
.color_orange{color:#285069;}
.wrapper_bg{background:#fff url(../images/inner_spage_bg.jpg) no-repeat; /*height: 895px; position:relative;*/}
.contact_page_bg{background:#fff /*url(../images/contact_page_bg.jpg) no-repeat;*/}
.wrapper_gradient_bg{background:url(../images/inner_spage_bg_top.png)  no-repeat; top:498px; width:100%; height:397px; position:absolute;}
.wrapper_white_bg{background-color: #FFFFFF; height: 100%; position: absolute; width: 100%; opacity: 0.6;}
.page_name{}
/* ************************* header ******************************** */
.inner_pheader{width:100%; height:284px; min-height:373px; margin:0 auto; background-size:cover; position:relative;}
.comm_resi_header_top{width:100%; height:149px; background:url(../images/top_header_comm_rese.png) no-repeat; background-size: 100% 90%; position:absolute; top:0px; z-index: 9996;}
.comm_resi_header_top a .inner_plogo{margin:20px 0 0px 141px;}
.comm_resi_header_top .inner_pmenu{background: url(../images/sprites.png) -1190px -448px no-repeat; height: 25px; margin: 0 0 0 77px; position: absolute; top: 47px; width: 42px;}
.comm_resi_header_top .inner_smenu{background: url(../images/sprites.png) -151px -7px no-repeat; height: 130px; position: absolute; top:-1px; width: 364px; right: 0px;}
.comm_resi_header_top .inner_search_icon{background: url(../images/sprites.png) -1190px -479px no-repeat; height: 50px; position: absolute; top: 9px; width: 264px; right: 0px; padding-left: 68px; line-height: 55px;}
.comm_resi_header_top .inner_search_icon span:hover{color:#fff;}
.border_img{/*border-image:url(../images/border_img.png)0 0 5 0;*/ border-top:5px solid rgb(241, 241, 241);}
/* ************************* residential page ******************************** */
.body_cnt{padding:3% 9%;}
.body_cnt p{padding:0 0 15px 0;}
.res_img_container{width:100%; display:block;}
.respage_img{width:25%; float:left; background-size: contain;}
.respage_img img{width:99.8%; height:383px; float:left; background-size: contain; border-left: 1px solid #fff; border-bottom: 1px solid #fff;}
/* ************************* main menu ******************************** */
.mainmenu{position:absolute; z-index:999; margin:81px 0 0 0; opacity:0.999}
/*.menu_logo{background:url(../images/sprites.png)-1150px -768px no-repeat; width:90px; height:120px; margin:0 0 0 50px; position:absolute; z-index:9998;}*/
.menu_logo{background:url(../images/sprites.png) -1150px -607px no-repeat; width:90px; height:120px; margin:0 0 0 50px; position:absolute; z-index:9998; cursor:pointer;}
.menu_logo:hover{background:url(../images/sprites.png) -1150px -607px no-repeat; width:90px; height:120px; margin:0 0 0 50px; position:absolute; z-index:9998; opacity:0.8}

.home_menu_logo{background:url(../images/sprites.png) -996px -611px no-repeat; width:90px; height:120px; margin:0 0 0 50px; position:absolute; z-index:9998; cursor:pointer;}
.home_menu_logo:hover{background:url(../images/sprites.png) -996px -611px no-repeat; width:90px; height:120px; margin:0 0 0 50px; position:absolute; z-index:9998; cursor:pointer; opacity:0.8}


.mainmenu ul .home{background:url(../images/sprites.png) -1190px -37px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .ovalue{background:url(../images/sprites.png) -1190px -85px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .oteam{background:url(../images/sprites.png) -1190px -135px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .contact{background:url(../images/sprites.png) -1190px -185px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .inner_logo{background:url(../images/sprites.png) -1190px -235px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .commercial{background:url(../images/sprites.png) -1190px -285px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .residential{background:url(../images/sprites.png) -1190px -335px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul .business{background:url(../images/sprites.png) -1190px -385px no-repeat; height:50px; line-height:52px; padding-left:71px; margin:0 0 0 30px;}
.mainmenu ul li a{font:24px; color:#2f5973;}
.mainmenu ul li a:hover{color:#009DFF; padding-left:10px;}
.mainmenu .menu_top_bg{background:url(../images/sprites.png) -0px -184px no-repeat; width:380px; height:21px;}
.mainmenu .menu_bg{width:380px; background:#fff; padding:25px 0px; opacity:0.95;}
.mainmenu .bg_border{border-bottom:1px solid #aac5d6; border-top:1px solid #aac5d6; padding:15px 0px;}


/* ************************* search box ******************************** */
.search_width{}
.page_name{margin:-56px 0 0 470px; font-size: 10px!important; background:#E6E6E6; width: 160px; padding:10px 26px; background:url(../images/sprites.png) 8px -233px no-repeat; }
.page_name a{font-size:14px!important;}
.page_name a:hover{color:#fff;}
.search_box{position:absolute; /*z-index:9996;*/ z-index:998; width:100%; /*padding:20px 0 30px 0;*/ top:130px; }
.boxex{float:left;/* width:14.28%;*/width:20%;}
.boxex ul .bullet{background:url(../images/sprites.png) -1223px 5px no-repeat; padding:0 0 0px 25px; margin:0 0 17px 0;}
.boxex ul select{border: 1px solid #e3eaee; -moz-appearance: none; -webkit-appearance: none; -o-apperance: none; -ms-apperance:none; padding: 4px 40px 4px 10px;}
.width_90{width:90%; margin:0 auto; padding:0 0 0 10%;}
.width9{/*width:9%;*/ width:10%;}
.width22{/*width:19%*/width:15%;}
.width13{width:13%!important;}
.width14{width:13.6%!important;}
.width84{width:84.7%!important;}
.boxex ul li{margin:0px 0 10px 0; font-family:HelveNueThin, Arial; font-size:22px; line-height: 27px;}
.boxex p{margin:70px 0 0 0;}
.serch_box{border:1px solid #cacaca; font-size:12px; font-family:arial, helvetica, sans-serif; padding: 10px 20px; text-decoration:none; display:inline-block; color: #000;
 background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);}
 .serch_box:hover{ border:1px solid #b3b3b3;
 background-color: #cdcdcd; background-image: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#b3b3b3));
 background-image: -webkit-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -moz-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -ms-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -o-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cdcdcd, endColorstr=#b3b3b3);}
 .pagenation li{float:left; margin-left: 5px;}
.serh_box{padding: 0px 0 0 10px;}
.more_srh{margin: 20px 0 0 0px!important;}
.more_srh a{font-size: 13px;}
.more_srh a:hover{text-decoration:underline;}

/* ************************* container ******************************** */

.container{/*z-index: 99999;*/ position: relative; margin:30px 0px;}
.conti_border{margin:30px 83px;}
.color_orange span{border-bottom: 1px solid #fff; display: inline-block; width: 89%; vertical-align: middle;}
.search_img{float:left; padding:20px; height: 195px; width: 280px;}
.s_img_boxes_commer{margin:0px 43px 0px 1px; border-bottom:1px solid #d0dfe7; height: 270px;}
.s_img_boxes{margin:0px 43px 0px 1px; border-bottom:5px solid #d0dfe7; float:left; background:#043350;}
.north_shore{margin: 0 0 25px 0;}
.content{float: left;
width: 63%;
padding: 20px 0 0px 35px;
background-size: contain;}
.search_img img{border:1px solid #000; background-size: cover;
width: 100%;}
.content_commer{float: left; width: 67%; height: 195px; padding: 20px 0 0px 30px; background-size: contain;}
.search_img img{border:1px solid #000; background-size: cover; height: 195px; width: 280px;}

.s_img_boxes_commer .content_commer h3, h4, .cnt{ color:#285069; font-size:30px; padding:0 0 6px 0;}
.s_img_boxes_commer .content_commer h4{font-size:26px;}
.s_img_boxes_commer .content_commer p{font-size:24px; color:#000; font-weight:normal; overflow: hidden; height: 55px;}
.s_img_boxes_commer .content_commer .fleft{float:left; font-size:22px;}
.s_img_boxes_commer .content_commer .fleft span{color:#285069;}
.s_img_boxes_commer .content_commer .fright{float:right; padding: 10px 20px; margin-bottom: 10px;
border:1px solid #cacaca; font-size:12px; font-family:arial, helvetica, sans-serif;  text-decoration:none; display:inline-block; color: #000;
 background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.s_img_boxes .content h3, h4, .cnt{ color:#285069; font-size:30px; padding:0 0 6px 0; font-weight: bold;}
.s_img_boxes .content h4{font-size:26px;}
.s_img_boxes .content p{font-size:20px; color:#fff; font-weight: normal; padding: 5px 0;}
.s_img_boxes .content .fleft{float:left; font-size:22px; font-weight: bold; padding: 0 0 20px 0;}
.s_img_boxes .content .fleft span{color:#fff;}
.s_img_boxes .content .fright{float: right;
padding: 0px 30px;
background: url(../images/sprites.png) -522px 0px no-repeat;
height: 96px;
width: 48px;
line-height: 93px;
position: absolute;
right: 0px;
margin: -50px 37px 0 0px; 
}
.s_img_boxes .content .fright:hover{opacity:0.94}
/*.s_img_boxes .content .fright:hover{ border:1px solid #b3b3b3;
 background-color: #cdcdcd; background-image: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#b3b3b3));
 background-image: -webkit-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -moz-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -ms-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -o-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cdcdcd, endColorstr=#b3b3b3);}*/
 
 
 .pagenation li{float:left; /*margin-bottom: 25px!important;*/ cursor:pointer;}
 .pagenation li a{display:block; margin-left: 5px; font:12px Arial, Helvetica, sans-serif;}
 .pagenation{width: 350px; height: 73px; margin: 0 auto; text-align: center; padding: 30px 0 0 0; position: relative;}
 .pagenation .previous, .center, .next{margin:0 0 0 20px; color:#000!important;}
 .pagenation .center{height: 15px; width: 15px; background-color: #043350; border-radius: 50%; text-indent: -9999px; line-height: 38px; margin-top: 13px; display: block;}
 .pagenation .active{height: 14px; width: 14px;  border-radius: 50%; text-indent: -9999px; line-height: 38px; margin-top: 13px; display: block;
 
 border:1px solid #cacaca; -webkit-border-radius: 50%; -moz-border-radius: 50%;border-radius: 50%; 
 background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}
 
 .previous_img{}
 .next_img{margin: 0 10px 0 10px!important;} 
 .pagenation .previous{  background: url(../images/sprites.png) -684px -60px no-repeat; width: 31px; height: 34px; text-indent: -9999px; margin: 0 15px 0 0px;}
 .pagenation .next{  background: url(../images/sprites.png) -781px -60px no-repeat; width: 31px; height: 34px; text-indent: -9999px; margin: 0 0 0 15px!important;}
  .pagenation .next:hover{opacity:0.8;}
  .pagenation .previous:hover{opacity:0.8;}

 /* ************************* conatct page ******************************** */
 .contact_pg{padding:40px 40px;}
 .contact_pg .cont_spr{ width:100%; float:left; border-bottom:1px solid #285069; margin-bottom:10px; padding-bottom: 10px;}
.conatct_left{width: 30%; float: left; position: relative; padding: 1% 2% 1% 0;}
.conatct_center{width:40%; float: left; position: relative; padding: 1% 0% 1% 2%;}
.conatct_right{width:26%; float: left; position: relative; padding: 1% 0% 1% 0;}
.contct_header{color:#043350; padding:0 0 10px 0;}
.contct_para{padding:0 0 15px 0; font-size: 22px;}
.cont_location{height:378px; width:100%; background:gray;}
.conatct_center img{height: 202px; float: left; width: 44%; padding: 0 20px 20px 0; background-size: contain;} 
.contct_form_color{color:#043350;}
.cont_form p{height: 28px; line-height: 20px;}

.cont_form input, .apt_form textarea{
	width: 100%;	height: 24px; line-height: 30px; font:20px HelveNueThin, Arial; margin:0 0 10px 0;
}	

.cont_form textarea{
	height: 80px; width: 100%;
}
.cont_form span{ width: 100%; display: block; margin:10px 0 0 0 ; }
.cont_form button{
	width: 160px; height: 30px; float: right; 
	border: none; cursor: pointer;
}
/* ************************* 404 page ******************************** */
.wrapper_404{background:#003255;}
.p404_bg{background:#003255;}
.p404_content{padding: 161px 0 0 0; text-align: center; margin: 0 0 100px 0;}
.p404_logo{background: url(../images/logo.png) center top no-repeat; height: 79px; display: inline-block; width: 306px; margin: 50px 0 20px 0;}
.p404_content h2{border-bottom: 1px solid #fff; border-top: 1px solid #fff; width: 500px; margin: 0 auto; padding: 18px 0; font-size: 62px; color: #fff; font-weight: bold; font-family:Aller, helveNueThin, Arial;}
.p404_content p{width: 500px; margin: 0 auto; padding: 20px 0; color:#fff;}
/* ************************* dropdown box ******************************** */

.dropdown select .dd_value span{font-size:15px!important; font-family:HelveNueThin, Arial!important; color:red;}
.dd_fonts{font-size:15px!important; font-family:HelveNueThin, Arial!important; color:#000;}
.dropdown {  position: relative;  /* display: inline-block; width:152px;*/   text-align: left;   width:146px;	margin-right:10px; float:left;} 
.w100{width: 72%; margin-right:0px;}
.width175{width:75%;}
.dropdown-text {  cursor: pointer;  /*position: absolute;*/  text-indent: 10px;  line-height: 31px; /* font-size:18px;*/  border-radius: 4px; border: 1px solid #d3d3d3;
font-weight: normal; color: #555555;  /*box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);*/  width: 100%; background: #fff url(../images/dd_arrow1.png) 93% 68% no-repeat;}

/*.dropdown-text:after {  position: absolute;  right: 6px;  top: 15px;  content: '';  width: 0px;  height: 0px;  border-style: solid;  border-width: 5px 4px 0 4px;  border-color: #555 transparent transparent transparent;
}*/

.dropdown-text, .dropdown-content li a {  color: #333;  /*text-shadow: 0 1px #fff;*/	font-size:15px;}

.dropdown-toggle {  font-size: 0;  z-index: 1;  cursor: pointer;  position: absolute;  top: 0;  border: none;  padding: 0;  margin: 0 0 0 1px;  background: transparent;  text-indent: -10px;  height: 34px;  width: 100%;}

.dropdown-toggle:focus {  outline: 0;}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;  padding: 10px 0 0 0;  margin: 0;  opacity: 0;  visibility:hidden;  text-indent: 10px;  line-height: 32px;   border: 1px solid #d3d3d3; border-radius:4px; width: 100%; background-color:#fff; z-index:99999;}

.dropdown-content a {  display: block;}

.dropdown-content a:hover {  background: #fff;}
.dropdown-toggle:hover ~ .dropdown-text, .dropdown-toggle:focus ~ .dropdown-text { border: 1px solid #999999; 	background: #fff;	font-weight: normal;	color: #212121; }
.dropdown-toggle:focus ~ .dropdown-text { /* box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);*/  z-index: 2;}
.dropdown-toggle:focus ~ .dropdown-text:after { border-width: 0 4px 5px 4px;  border-color: transparent transparent #555 transparent;	}
.dropdown-content:hover, .dropdown-toggle:focus ~ .dropdown-content {  opacity: 1;  visibility:visible;  top: 42px;}



input[type="checkbox"] {
    width: 15px;
    height: 15px;
		cursor:pointer;
    border-left:1px solid #9DB5C5;
		border-bottom:1px solid #9DB5C5;
		border-right:1px solid #9DB5C5;
		border-top:1px solid #9DB5C5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="checkbox"]:checked {
background: url(../images/sprites.png) -1165px -51px no-repeat;
}